USE [PRJ321_PROJECT]
GO
ALTER TABLE [dbo].[tblVillage] DROP CONSTRAINT [FK_tblVillage_tblDistrict]
GO
ALTER TABLE [dbo].[tblUser] DROP CONSTRAINT [FK_tblUser_tblRole]
GO
ALTER TABLE [dbo].[tblServices] DROP CONSTRAINT [FK_tblServices_tblScope]
GO
ALTER TABLE [dbo].[tblScope] DROP CONSTRAINT [FK_tblScope_tblShippingMethod]
GO
ALTER TABLE [dbo].[tblPostOffice] DROP CONSTRAINT [FK_tblPostOffice_tblUser]
GO
ALTER TABLE [dbo].[tblPostOffice] DROP CONSTRAINT [FK_tblPostOffice_tblServices]
GO
ALTER TABLE [dbo].[tblPostOffice] DROP CONSTRAINT [FK_tblPostOffice_tblLocation]
GO
ALTER TABLE [dbo].[tblPackageSending] DROP CONSTRAINT [FK_tblPackageSending_tblServices]
GO
ALTER TABLE [dbo].[tblPackageSending] DROP CONSTRAINT [FK_tblPackageSending_tblSender]
GO
ALTER TABLE [dbo].[tblPackageSending] DROP CONSTRAINT [FK_tblPackageSending_tblReciever]
GO
ALTER TABLE [dbo].[tblPackageSending] DROP CONSTRAINT [FK_tblPackageSending_tblPostOffice1]
GO
ALTER TABLE [dbo].[tblPackageSending] DROP CONSTRAINT [FK_tblPackageSending_tblPostOffice]
GO
ALTER TABLE [dbo].[tblPackageSending] DROP CONSTRAINT [FK_tblPackageSending_tblPackageStatus]
GO
ALTER TABLE [dbo].[tblLocation] DROP CONSTRAINT [FK_tblLocation_tblNationalCity]
GO
ALTER TABLE [dbo].[tblDistrict] DROP CONSTRAINT [FK_tblDistrict_tblNationalCity]
GO
ALTER TABLE [dbo].[tblDeparturePackage] DROP CONSTRAINT [FK_tblDeparturePackage_tblPostOffice]
GO
ALTER TABLE [dbo].[tblDeparturePackage] DROP CONSTRAINT [FK_tblDeparturePackage_tblPackageSending]
GO
ALTER TABLE [dbo].[tblArrivePackage] DROP CONSTRAINT [FK_tblArrivePackage_tblPostOffice]
GO
ALTER TABLE [dbo].[tblArrivePackage] DROP CONSTRAINT [FK_tblArrivePackage_tblPackageSending]
GO
/****** Object:  Table [dbo].[tblVillage]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblVillage]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblUser]
GO
/****** Object:  Table [dbo].[tblTracking]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblTracking]
GO
/****** Object:  Table [dbo].[tblShippingMethod]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblShippingMethod]
GO
/****** Object:  Table [dbo].[tblServices]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblServices]
GO
/****** Object:  Table [dbo].[tblSender]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblSender]
GO
/****** Object:  Table [dbo].[tblScope]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblScope]
GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblRole]
GO
/****** Object:  Table [dbo].[tblReciever]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblReciever]
GO
/****** Object:  Table [dbo].[tblPostOffice]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblPostOffice]
GO
/****** Object:  Table [dbo].[tblPackageStatus]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblPackageStatus]
GO
/****** Object:  Table [dbo].[tblPackageSending]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblPackageSending]
GO
/****** Object:  Table [dbo].[tblNationalCity]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblNationalCity]
GO
/****** Object:  Table [dbo].[tblLocation]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblLocation]
GO
/****** Object:  Table [dbo].[tblInternationalCity]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblInternationalCity]
GO
/****** Object:  Table [dbo].[tblDistrict]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblDistrict]
GO
/****** Object:  Table [dbo].[tblDeparturePackage]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblDeparturePackage]
GO
/****** Object:  Table [dbo].[tblArrivePackage]    Script Date: 12/11/2018 3:46:51 CH ******/
DROP TABLE [dbo].[tblArrivePackage]
GO
/****** Object:  Table [dbo].[tblArrivePackage]    Script Date: 12/11/2018 3:46:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArrivePackage](
	[arrivalPackageID] [nchar](10) NOT NULL,
	[packageID] [nchar](10) NOT NULL,
	[date] [datetime] NOT NULL,
	[staffID] [nchar](10) NOT NULL,
	[srcPostOfficeID] [nchar](10) NOT NULL,
	[statusID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tblArrivePackage] PRIMARY KEY CLUSTERED 
(
	[arrivalPackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDeparturePackage]    Script Date: 12/11/2018 3:46:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDeparturePackage](
	[departurePackageID] [nchar](10) NOT NULL,
	[packageID] [nchar](10) NOT NULL,
	[date] [datetime] NOT NULL,
	[staffID] [nchar](10) NOT NULL,
	[desPostOfficeID] [nchar](10) NOT NULL,
	[statusID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tblDeparturePackage] PRIMARY KEY CLUSTERED 
(
	[departurePackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDistrict]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDistrict](
	[districtID] [nchar](10) NOT NULL,
	[districtName] [nvarchar](50) NOT NULL,
	[cityID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tblDistrict] PRIMARY KEY CLUSTERED 
(
	[districtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInternationalCity]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInternationalCity](
	[cityID] [nchar](10) NOT NULL,
	[cityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblInternationalCity] PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLocation]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLocation](
	[locationID] [nchar](10) NOT NULL,
	[cityID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tblLocation] PRIMARY KEY CLUSTERED 
(
	[locationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNationalCity]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNationalCity](
	[cityID] [nchar](10) NOT NULL,
	[cityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblNationalCity] PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPackageSending]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPackageSending](
	[packageID] [nchar](10) NOT NULL,
	[weight] [float] NOT NULL,
	[senderID] [nchar](10) NOT NULL,
	[receiverID] [nchar](10) NOT NULL,
	[srcPostOfficeID] [nchar](10) NOT NULL,
	[desPostOfficeID] [nchar](10) NOT NULL,
	[statusID] [nchar](10) NOT NULL,
	[date] [datetime] NOT NULL,
	[serviceID] [nchar](10) NOT NULL,
	[totalFee] [float] NOT NULL,
 CONSTRAINT [PK_tblPackageSending] PRIMARY KEY CLUSTERED 
(
	[packageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPackageStatus]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPackageStatus](
	[statusID] [nchar](10) NOT NULL,
	[statusName] [nvarchar](50) NOT NULL,
	[statusDescription] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblPackageStatus] PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPostOffice]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPostOffice](
	[postOfficeID] [nchar](10) NOT NULL,
	[locationID] [nchar](10) NOT NULL,
	[staffID] [nchar](10) NOT NULL,
	[postOfficeName] [nvarchar](50) NOT NULL,
	[serviceID] [nchar](10) NOT NULL,
	[address] [nvarchar](255) NULL,
 CONSTRAINT [PK_tblPostOffice_1] PRIMARY KEY CLUSTERED 
(
	[postOfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReciever]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReciever](
	[recieverID] [nchar](10) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[mobilePhone] [nchar](12) NOT NULL,
	[CMNDNo] [nchar](12) NULL,
	[address] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tblReciever] PRIMARY KEY CLUSTERED 
(
	[recieverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[roleID] [nchar](10) NOT NULL,
	[roleLevel] [int] NOT NULL,
	[roleDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblRole] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblScope]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblScope](
	[scopeID] [nchar](10) NOT NULL,
	[scopeDescription] [nvarchar](50) NOT NULL,
	[shippingMethodID] [nchar](10) NOT NULL,
	[scopeFee] [float] NOT NULL,
 CONSTRAINT [PK_tblScope] PRIMARY KEY CLUSTERED 
(
	[scopeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSender]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSender](
	[senderID] [nchar](10) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[mobilePhone] [nchar](12) NOT NULL,
	[CMNDNo] [nchar](10) NULL,
	[address] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tblSender] PRIMARY KEY CLUSTERED 
(
	[senderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblServices]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServices](
	[serviceID] [nchar](10) NOT NULL,
	[serviceName] [nvarchar](50) NOT NULL,
	[serviceFee] [float] NOT NULL,
	[scopeID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tblServices] PRIMARY KEY CLUSTERED 
(
	[serviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblShippingMethod]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShippingMethod](
	[shippingMethodID] [nchar](10) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[shippingfee] [float] NOT NULL,
 CONSTRAINT [PK_tblShippingMethod] PRIMARY KEY CLUSTERED 
(
	[shippingMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTracking]    Script Date: 12/11/2018 3:46:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTracking](
	[trackingID] [nchar](10) NOT NULL,
	[packageID] [nchar](10) NOT NULL,
	[date] [datetime] NOT NULL,
	[postOfficeID] [nchar](10) NOT NULL,
	[statusID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tblTracking] PRIMARY KEY CLUSTERED 
(
	[trackingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 12/11/2018 3:46:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[userID] [nchar](10) NOT NULL,
	[username] [nchar](20) NOT NULL,
	[password] [nchar](50) NOT NULL,
	[roleID] [nchar](10) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVillage]    Script Date: 12/11/2018 3:46:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVillage](
	[villageID] [nchar](10) NOT NULL,
	[villageName] [nvarchar](50) NOT NULL,
	[districtID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tblVillage] PRIMARY KEY CLUSTERED 
(
	[villageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblDistrict] ([districtID], [districtName], [cityID]) VALUES (N'HUY10000  ', N'An Phú', N'CT1001    ')
INSERT [dbo].[tblDistrict] ([districtID], [districtName], [cityID]) VALUES (N'HUY10001  ', N'Châu Đốc', N'CT1001    ')
INSERT [dbo].[tblDistrict] ([districtID], [districtName], [cityID]) VALUES (N'HUY10002  ', N'Châu Phú', N'CT1001    ')
GO
INSERT [dbo].[tblInternationalCity] ([cityID], [cityName]) VALUES (N'ICT1000   ', N'Canada')
INSERT [dbo].[tblInternationalCity] ([cityID], [cityName]) VALUES (N'ICT1001   ', N'Brazil')
INSERT [dbo].[tblInternationalCity] ([cityID], [cityName]) VALUES (N'ICT1002   ', N'Venice')
INSERT [dbo].[tblLocation] ([locationID], [cityID]) VALUES (N'LCT1001   ', N'CT1001    ')
INSERT [dbo].[tblLocation] ([locationID], [cityID]) VALUES (N'LCT1002   ', N'CT1001    ')
INSERT [dbo].[tblLocation] ([locationID], [cityID]) VALUES (N'LCT1003   ', N'CT1002    ')
GO
INSERT [dbo].[tblNationalCity] ([cityID], [cityName]) VALUES (N'CT1001    ', N'An Giang')
INSERT [dbo].[tblNationalCity] ([cityID], [cityName]) VALUES (N'CT1002    ', N'Bà Rịa - Vũng Tàu')
INSERT [dbo].[tblNationalCity] ([cityID], [cityName]) VALUES (N'CT1003    ', N'Bạc Liêu')
INSERT [dbo].[tblPackageSending] ([packageID], [weight], [senderID], [receiverID], [srcPostOfficeID], [desPostOfficeID], [statusID], [date], [serviceID], [totalFee]) VALUES (N'1000000000', 80.5, N'1000000   ', N'1000001   ', N'PO1015    ', N'PO1016    ', N'STA1005   ', CAST(N'2018-11-01T10:33:25.000' AS DateTime), N'SV0001    ', 16100)
INSERT [dbo].[tblPackageSending] ([packageID], [weight], [senderID], [receiverID], [srcPostOfficeID], [desPostOfficeID], [statusID], [date], [serviceID], [totalFee]) VALUES (N'1000000001', 20.5, N'1000001   ', N'1000000   ', N'PO1015    ', N'PO1016    ', N'STA1005   ', CAST(N'2018-11-05T00:00:00.000' AS DateTime), N'SV0001    ', 12000)
INSERT [dbo].[tblPackageSending] ([packageID], [weight], [senderID], [receiverID], [srcPostOfficeID], [desPostOfficeID], [statusID], [date], [serviceID], [totalFee]) VALUES (N'1000000002', 30, N'1000002   ', N'1000002   ', N'PO1001    ', N'PO1015    ', N'STA1001   ', CAST(N'2018-11-09T00:00:00.000' AS DateTime), N'SV0001    ', 38400)
INSERT [dbo].[tblPackageStatus] ([statusID], [statusName], [statusDescription]) VALUES (N'STA1001   ', N'Posting/Collection', N'Chấp nhận gửi')
INSERT [dbo].[tblPackageStatus] ([statusID], [statusName], [statusDescription]) VALUES (N'STA1002   ', N'Departure from PO', N'Đi khỏi bưu cục')
INSERT [dbo].[tblPackageStatus] ([statusID], [statusName], [statusDescription]) VALUES (N'STA1003   ', N'Arrival at PO', N'Đã đến bưu cục')
INSERT [dbo].[tblPostOffice] ([postOfficeID], [locationID], [staffID], [postOfficeName], [serviceID], [address]) VALUES (N'PO1001    ', N'LCT1001   ', N'US10000   ', N'Bưu cục cấp 1 Long Xuyên', N'SV0001    ', N'Sô´106, Đường Trần Hưng Đạo, Phường Mỹ Bình, Thành phố Long Xuyên')
INSERT [dbo].[tblPostOffice] ([postOfficeID], [locationID], [staffID], [postOfficeName], [serviceID], [address]) VALUES (N'PO1002    ', N'LCT1002   ', N'US10002   ', N'Bưu cục cấp 3 Mỹ Long ', N'SV0001    ', NULL)
INSERT [dbo].[tblPostOffice] ([postOfficeID], [locationID], [staffID], [postOfficeName], [serviceID], [address]) VALUES (N'PO1003    ', N'LCT1003   ', N'US10003   ', N'Bưu cục cấp 3 Bến Đá ', N'SV0001    ', NULL)
GO
INSERT [dbo].[tblReciever] ([recieverID], [fullname], [mobilePhone], [CMNDNo], [address]) VALUES (N'1000000   ', N'Nguyễn Thị C', N'016750812345', N'123456789   ', N'Thạch Hòa, Thạch Thất, Hà Nội')
INSERT [dbo].[tblReciever] ([recieverID], [fullname], [mobilePhone], [CMNDNo], [address]) VALUES (N'1000001   ', N'Trần Văn A', N'016750812345', N'123456789   ', N'Thạch Hòa, Thạch Thất. Hà Nội')
INSERT [dbo].[tblReciever] ([recieverID], [fullname], [mobilePhone], [CMNDNo], [address]) VALUES (N'1000002   ', N'Nguyen Van ABC', N'123456789   ', N'            ', N'Thon 9, Quảng Hải,Bắc Tân Uyên,Bình Dương')
INSERT [dbo].[tblRole] ([roleID], [roleLevel], [roleDescription]) VALUES (N'R00       ', 1, N'Administator')
INSERT [dbo].[tblRole] ([roleID], [roleLevel], [roleDescription]) VALUES (N'R01       ', 2, N'Staff')
INSERT [dbo].[tblRole] ([roleID], [roleLevel], [roleDescription]) VALUES (N'R02       ', 3, N'Guest')
INSERT [dbo].[tblScope] ([scopeID], [scopeDescription], [shippingMethodID], [scopeFee]) VALUES (N'S000      ', N'Trong nước', N'SP100     ', 200)
INSERT [dbo].[tblScope] ([scopeID], [scopeDescription], [shippingMethodID], [scopeFee]) VALUES (N'S001      ', N'Trong nước', N'SP101     ', 300)
INSERT [dbo].[tblScope] ([scopeID], [scopeDescription], [shippingMethodID], [scopeFee]) VALUES (N'S002      ', N'Quốc tế', N'SP103     ', 500)
INSERT [dbo].[tblSender] ([senderID], [fullname], [mobilePhone], [CMNDNo], [address]) VALUES (N'1000000   ', N'Ngô Quang Trọng', N'016750812345', N'123456789 ', N'Tân Xã, Thạch Thất, Hà Nội')
INSERT [dbo].[tblSender] ([senderID], [fullname], [mobilePhone], [CMNDNo], [address]) VALUES (N'1000001   ', N'Nguyễn Văn A', N'016750812345', N'123456789 ', N'Đại Học FPT Hà Nội')
INSERT [dbo].[tblSender] ([senderID], [fullname], [mobilePhone], [CMNDNo], [address]) VALUES (N'1000002   ', N'Nguyen Van ABC', N'123456789   ', N'          ', N'Thon 9, Quảng Hải,Quảng Xương,Thanh Hóa')
INSERT [dbo].[tblServices] ([serviceID], [serviceName], [serviceFee], [scopeID]) VALUES (N'SV0001    ', N'Bưu phẩm thường', 1000, N'S000      ')
INSERT [dbo].[tblServices] ([serviceID], [serviceName], [serviceFee], [scopeID]) VALUES (N'SV0002    ', N'Bưu phẩm đảm bảo', 4000, N'S004      ')
INSERT [dbo].[tblServices] ([serviceID], [serviceName], [serviceFee], [scopeID]) VALUES (N'SV0003    ', N'Logistics Eco', 3000, N'S001      ')
INSERT [dbo].[tblShippingMethod] ([shippingMethodID], [description], [shippingfee]) VALUES (N'SP100     ', N'Chuyển thường', 80)
INSERT [dbo].[tblShippingMethod] ([shippingMethodID], [description], [shippingfee]) VALUES (N'SP101     ', N'Chuyển cồng kềnh', 120)
INSERT [dbo].[tblShippingMethod] ([shippingMethodID], [description], [shippingfee]) VALUES (N'SP102     ', N'Chuyển đảm bảo', 200)
INSERT [dbo].[tblTracking] ([trackingID], [packageID], [date], [postOfficeID], [statusID]) VALUES (N'1000000000', N'1000000000', CAST(N'2018-11-02T00:00:00.000' AS DateTime), N'PO1015    ', N'STA1001   ')
INSERT [dbo].[tblTracking] ([trackingID], [packageID], [date], [postOfficeID], [statusID]) VALUES (N'1000000001', N'1000000000', CAST(N'2018-11-03T00:00:00.000' AS DateTime), N'PO1015    ', N'STA1002   ')
INSERT [dbo].[tblTracking] ([trackingID], [packageID], [date], [postOfficeID], [statusID]) VALUES (N'1000000002', N'1000000000', CAST(N'2018-11-04T00:00:00.000' AS DateTime), N'PO1011    ', N'STA1003   ')
INSERT [dbo].[tblUser] ([userID], [username], [password], [roleID], [fullname], [email]) VALUES (N'US10000   ', N'trongnq             ', N'123456                                            ', N'R01       ', N'TRONGNQ', N'abcxyz@mail.com')
INSERT [dbo].[tblUser] ([userID], [username], [password], [roleID], [fullname], [email]) VALUES (N'US10001   ', N'trongnq1            ', N'123456                                            ', N'R01       ', N'TRONGNQ', N'abcxyz@mail.com')
INSERT [dbo].[tblUser] ([userID], [username], [password], [roleID], [fullname], [email]) VALUES (N'US10002   ', N'ducpt               ', N'123458                                            ', N'R01       ', N'PhungTri Duc', N'abcxyz@mail.com')
GO
INSERT [dbo].[tblVillage] ([villageID], [villageName], [districtID]) VALUES (N'VL10000   ', N'An Hòa', N'HUY10690  ')
INSERT [dbo].[tblVillage] ([villageID], [villageName], [districtID]) VALUES (N'VL10001   ', N'Hóa An', N'HUY10690  ')
INSERT [dbo].[tblVillage] ([villageID], [villageName], [districtID]) VALUES (N'VL10002   ', N'Hiệp Hòa', N'HUY10690  ')
GO
ALTER TABLE [dbo].[tblArrivePackage]  WITH CHECK ADD  CONSTRAINT [FK_tblArrivePackage_tblPackageSending] FOREIGN KEY([packageID])
REFERENCES [dbo].[tblPackageSending] ([packageID])
GO
ALTER TABLE [dbo].[tblArrivePackage] CHECK CONSTRAINT [FK_tblArrivePackage_tblPackageSending]
GO
ALTER TABLE [dbo].[tblArrivePackage]  WITH CHECK ADD  CONSTRAINT [FK_tblArrivePackage_tblPostOffice] FOREIGN KEY([srcPostOfficeID])
REFERENCES [dbo].[tblPostOffice] ([postOfficeID])
GO
ALTER TABLE [dbo].[tblArrivePackage] CHECK CONSTRAINT [FK_tblArrivePackage_tblPostOffice]
GO
ALTER TABLE [dbo].[tblDeparturePackage]  WITH CHECK ADD  CONSTRAINT [FK_tblDeparturePackage_tblPackageSending] FOREIGN KEY([packageID])
REFERENCES [dbo].[tblPackageSending] ([packageID])
GO
ALTER TABLE [dbo].[tblDeparturePackage] CHECK CONSTRAINT [FK_tblDeparturePackage_tblPackageSending]
GO
ALTER TABLE [dbo].[tblDeparturePackage]  WITH CHECK ADD  CONSTRAINT [FK_tblDeparturePackage_tblPostOffice] FOREIGN KEY([desPostOfficeID])
REFERENCES [dbo].[tblPostOffice] ([postOfficeID])
GO
ALTER TABLE [dbo].[tblDeparturePackage] CHECK CONSTRAINT [FK_tblDeparturePackage_tblPostOffice]
GO
ALTER TABLE [dbo].[tblDistrict]  WITH CHECK ADD  CONSTRAINT [FK_tblDistrict_tblNationalCity] FOREIGN KEY([cityID])
REFERENCES [dbo].[tblNationalCity] ([cityID])
GO
ALTER TABLE [dbo].[tblDistrict] CHECK CONSTRAINT [FK_tblDistrict_tblNationalCity]
GO
ALTER TABLE [dbo].[tblLocation]  WITH CHECK ADD  CONSTRAINT [FK_tblLocation_tblNationalCity] FOREIGN KEY([cityID])
REFERENCES [dbo].[tblNationalCity] ([cityID])
GO
ALTER TABLE [dbo].[tblLocation] CHECK CONSTRAINT [FK_tblLocation_tblNationalCity]
GO
ALTER TABLE [dbo].[tblPackageSending]  WITH CHECK ADD  CONSTRAINT [FK_tblPackageSending_tblPackageStatus] FOREIGN KEY([statusID])
REFERENCES [dbo].[tblPackageStatus] ([statusID])
GO
ALTER TABLE [dbo].[tblPackageSending] CHECK CONSTRAINT [FK_tblPackageSending_tblPackageStatus]
GO
ALTER TABLE [dbo].[tblPackageSending]  WITH CHECK ADD  CONSTRAINT [FK_tblPackageSending_tblPostOffice] FOREIGN KEY([srcPostOfficeID])
REFERENCES [dbo].[tblPostOffice] ([postOfficeID])
GO
ALTER TABLE [dbo].[tblPackageSending] CHECK CONSTRAINT [FK_tblPackageSending_tblPostOffice]
GO
ALTER TABLE [dbo].[tblPackageSending]  WITH CHECK ADD  CONSTRAINT [FK_tblPackageSending_tblPostOffice1] FOREIGN KEY([desPostOfficeID])
REFERENCES [dbo].[tblPostOffice] ([postOfficeID])
GO
ALTER TABLE [dbo].[tblPackageSending] CHECK CONSTRAINT [FK_tblPackageSending_tblPostOffice1]
GO
ALTER TABLE [dbo].[tblPackageSending]  WITH CHECK ADD  CONSTRAINT [FK_tblPackageSending_tblReciever] FOREIGN KEY([receiverID])
REFERENCES [dbo].[tblReciever] ([recieverID])
GO
ALTER TABLE [dbo].[tblPackageSending] CHECK CONSTRAINT [FK_tblPackageSending_tblReciever]
GO
ALTER TABLE [dbo].[tblPackageSending]  WITH CHECK ADD  CONSTRAINT [FK_tblPackageSending_tblSender] FOREIGN KEY([senderID])
REFERENCES [dbo].[tblSender] ([senderID])
GO
ALTER TABLE [dbo].[tblPackageSending] CHECK CONSTRAINT [FK_tblPackageSending_tblSender]
GO
ALTER TABLE [dbo].[tblPackageSending]  WITH CHECK ADD  CONSTRAINT [FK_tblPackageSending_tblServices] FOREIGN KEY([serviceID])
REFERENCES [dbo].[tblServices] ([serviceID])
GO
ALTER TABLE [dbo].[tblPackageSending] CHECK CONSTRAINT [FK_tblPackageSending_tblServices]
GO
ALTER TABLE [dbo].[tblPostOffice]  WITH CHECK ADD  CONSTRAINT [FK_tblPostOffice_tblLocation] FOREIGN KEY([locationID])
REFERENCES [dbo].[tblLocation] ([locationID])
GO
ALTER TABLE [dbo].[tblPostOffice] CHECK CONSTRAINT [FK_tblPostOffice_tblLocation]
GO
ALTER TABLE [dbo].[tblPostOffice]  WITH CHECK ADD  CONSTRAINT [FK_tblPostOffice_tblServices] FOREIGN KEY([serviceID])
REFERENCES [dbo].[tblServices] ([serviceID])
GO
ALTER TABLE [dbo].[tblPostOffice] CHECK CONSTRAINT [FK_tblPostOffice_tblServices]
GO
ALTER TABLE [dbo].[tblPostOffice]  WITH CHECK ADD  CONSTRAINT [FK_tblPostOffice_tblUser] FOREIGN KEY([staffID])
REFERENCES [dbo].[tblUser] ([userID])
GO
ALTER TABLE [dbo].[tblPostOffice] CHECK CONSTRAINT [FK_tblPostOffice_tblUser]
GO
ALTER TABLE [dbo].[tblScope]  WITH CHECK ADD  CONSTRAINT [FK_tblScope_tblShippingMethod] FOREIGN KEY([shippingMethodID])
REFERENCES [dbo].[tblShippingMethod] ([shippingMethodID])
GO
ALTER TABLE [dbo].[tblScope] CHECK CONSTRAINT [FK_tblScope_tblShippingMethod]
GO
ALTER TABLE [dbo].[tblServices]  WITH CHECK ADD  CONSTRAINT [FK_tblServices_tblScope] FOREIGN KEY([scopeID])
REFERENCES [dbo].[tblScope] ([scopeID])
GO
ALTER TABLE [dbo].[tblServices] CHECK CONSTRAINT [FK_tblServices_tblScope]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblRole] FOREIGN KEY([roleID])
REFERENCES [dbo].[tblRole] ([roleID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblRole]
GO
ALTER TABLE [dbo].[tblVillage]  WITH CHECK ADD  CONSTRAINT [FK_tblVillage_tblDistrict] FOREIGN KEY([districtID])
REFERENCES [dbo].[tblDistrict] ([districtID])
GO
ALTER TABLE [dbo].[tblVillage] CHECK CONSTRAINT [FK_tblVillage_tblDistrict]
GO
